*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Palatino", URW Palladio L, serif;
    background-color: #63CDDA;
    
}

h2{
    font-size: 16px;
}

table{
    margin-bottom: 2px;
    border: 1px solid #81ECEC; 
}

th,td{
    border: 1px solid #74B9FF; 
    font-size: 16px;
    padding: 5px;
}

th{
    background-color: #C8D6E5;    
}

#wraper{
    margin: 20px auto;
    width: 950px;
    border: 1px solid #7F8C8D;
    -moz-border-radius: 10px 10px 5px 5px;
    border-radius: 10px 10px 5px 5px;    
}

#header{
    height: 40px;
    background-color: #7F8C8D;
    border-bottom: 1px solid #596275;
    padding: 20px 0 0 20px;
    -moz-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0;    
}


#content{
    padding: 10px;
    background-color: #ECF0F1;        
    font-size: 10px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;    
}

#paneltombol{
    clear: both;
    float: right;
    padding: 10px;
    margin-bottom: 10px;
    position: relative;
    border-radius: 15px;
}

#data{
    clear: both;
}

.tombol{
    height: 30px;
    width:50px; 
    border-radius: 15px solid #636372;
    background-color: #8395A7;
    padding: 12px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 12px;
}
.tombolTambah{
    height:30;
    border-radius:  15px solid #636372;
    background-color: #8395A7;
    font-size: 12px;
    -border-radius: 3px;
    -moz-border-radius: 2px;
}
.tombolhapus{
    height: 30px;
    width:50px; 
    border-radius: 15px solid #636372;
    background-color: #BDC3C7;
    padding: 12px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 12px;
}
#notifikasi{
         font-size: 10px;
         padding: 10px;
         right: 10px;
         top: 10px;
         position: absolute;
         border: 1px solid #E3F1FF;
         background-color: #D3D3D3;
}
#formsiswa div{
    margin: 5px;
    display: block;
}

#formsiswa label{
    display: block;
    margin-bottom: 5px;
}

#formedit div{
    margin: 5px;
    display: block;
}
#formedit label {
     display: block;
    margin-bottom: 5px
   }
.inputform {
    width: 100%;
    height: 30px;
    border: 1px solid #D3D3D3;
}
.editform {
    width: 100%;
    height: 30px;
    border: 1px solid #D3D3D3;
}