/*
Theme Name: MALASNGODING WP theme
Theme URI: https://malasngoding.com/
Description: Simple modern UI wordpress malas ngoding theme
Author: Diki Alfarabi Hadi
Author URI: https://facebook.com/malasngoding
Version: 0.1
*/


body{
    font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;	
}


.content-iklan{
    background:black;
    width:50%;
    float:left;
    margin:25px;
}


/*bootstrap*/
/*navbar*/
.navbar-default{
	margin-bottom: 0;	
}

.navbar-fixed-top{
 	
 }
 
 .navbar-default.navbar1 {
 	background-color: #ffffff;
 	border-color: #e7e7e7;
 	border-radius: 0;	
 	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.20);
 }
 .navbar-default.navbar1 .navbar-brand {  	
 	padding: 2px 7px; 	
 	margin-top: 10px;
 }

 .navbar-default.navbar1 .navbar-brand .logo{
 	height: 100%;
 }

 .navbar-default.navbar1 .navbar-brand:hover,
 .navbar-default.navbar1 .navbar-brand:focus {
 	color: #5e5e5e;
 	background-color: transparent;
 }
 .navbar-default.navbar1 .navbar-text {
 	color: #777;
 }
 .navbar-default.navbar1 .navbar-nav > li > a {
 	color: #777;
 	font-size: 0.857142857142857em;
 	line-height: 2.166666666666667em;
 	text-transform: uppercase;
 	font-weight: 600;
 	letter-spacing: .5px;
 	transition:all 0.3s ease;
 }
 .navbar-default.navbar1 .navbar-nav > li > a:hover,
 .navbar-default.navbar1 .navbar-nav > li > a:focus {
 	color: #333;
 	background-color: transparent;
 }
 .navbar-default.navbar1 .navbar-nav > .active > a,
 .navbar-default.navbar1 .navbar-nav > .active > a:hover,
 .navbar-default.navbar1 .navbar-nav > .active > a:focus {
 	color: #555;
 	background-color: #e7e7e7;
 }
 .navbar-default.navbar1 .navbar-nav > .disabled > a,
 .navbar-default.navbar1 .navbar-nav > .disabled > a:hover,
 .navbar-default.navbar1 .navbar-nav > .disabled > a:focus {
 	color: #ccc;
 	background-color: transparent;
 }
 .navbar-default.navbar1 .navbar-toggle {
 	border-color: #ddd;
 }
 .navbar-default.navbar1 .navbar-toggle:hover,
 .navbar-default.navbar1 .navbar-toggle:focus {
 	background-color: #ddd;
 }
 .navbar-default.navbar1 .navbar-toggle .icon-bar {
 	background-color: #888;
 }
 .navbar-default.navbar1 .navbar-collapse,
 .navbar-default.navbar1 .navbar-form {
 	border-color: #e7e7e7;
 }
 .navbar-default.navbar1 .navbar-nav > .open > a,
 .navbar-default.navbar1 .navbar-nav > .open > a:hover,
 .navbar-default.navbar1 .navbar-nav > .open > a:focus {
 	color: #555;
 	background-color: #e7e7e7;
 }
 .navbar-default.navbar1 .navbar-nav > .open > a, 
 .navbar-default.navbar1 .navbar-nav > .open > a:hover, 
 .navbar-default.navbar1 .navbar-nav > .open > a:focus{
 	background-color: transparent;

 }
 .navbar-default.navbar1 .menu-item{
 	background-color: transparent;
 	padding: 7px 0;
 }

 .dropdown-menu{
 	border-radius: 0;
 	border: 0;	
 }

 .dropdown-menu > li > a {
 	display: block;
 	padding: 3px 20px;
 	clear: both;  
 	font-weight: 600;
 	line-height: 2.166666666666667em;  
 	color: #333;
 	white-space: nowrap;
 	font-size: 0.857142857142857em;
 	letter-spacing: .5px;
 }
 .dropdown-menu > li > a:hover,
 .dropdown-menu > li > a:focus {
 	color: #262626;
 	text-decoration: none;
 	background-color: #f5f5f5;
 }

 /*end bootstrap*/











 /*jumbotron*/
 .jumbotron-bg{
 	background-size: cover;
 	background:url("https://www.malasngoding.com/wp-content/themes/malasngoding/assets/img/bg_pattern.jpg");
 	background-size: 230px;
 }
 .jumbotron{
 	background: rgba(54,209,220, .92);
 	background: -webkit-linear-gradient(to right,  rgba(91,134,229, .92),rgba(54,209,220, .92)); 
 	background: linear-gradient(to right,  rgba(91,134,229, .92),rgba(54,209,220, .92)); 
 	margin: 0;	
 }

 .jumbotron-index .jumbotron-malasngoding{
 	padding: 80px 0px;
 }
 .jumbotron-malasngoding .jumbotron-title{
 	font-family: "Open Sans","Helvetica","Arial",sans-serif;
 	font-weight: 300;
 	font-size: 30pt;
 	color: #fff;
 }

 .jumbotron-malasngoding .jumbotron-title .typed{ 	
 	color: #F4FF81;
 }

 .jumbotron-malasngoding .jumbotron-text{
 	font-family: "Open Sans","Helvetica","Arial",sans-serif;
 	color:#fff;
 	margin: 40px 0px;
 	font-weight: 400;
 	font-size: 14px;
 }
 
 .jumbotron-image img{
 	width: 100%; 	 	
 }

 .typed::after {
 	content: '|';
 	display: inline;
 	-webkit-animation: blink 0.7s infinite;
 	-moz-animation: blink 0.7s infinite;
 	animation: blink 0.7s infinite;
 }

 /*Removes cursor that comes with typed.js*/
 .typed-cursor{
 	opacity: 0;
 	display: none;
 }

 /*Custom cursor animation*/
 @keyframes blink{
 	0% { opacity:1; }
 	50% { opacity:0; }
 	100% { opacity:1; }
 }
 @-webkit-keyframes blink{
 	0% { opacity:1; }
 	50% { opacity:0; }
 	100% { opacity:1; }
 }
 @-moz-keyframes blink{
 	0% { opacity:1; }
 	50% { opacity:0; }
 	100% { opacity:1; }
 }
 /*End Custom cursor animation*/




 /*button*/




 button,input[type="button"],
 input[type="reset"],
 input[type="submit"],
 .button,
 .button--primary, 
 .button--outline{
 	/*display:block;*/
 	cursor:pointer;
 	appearance:none;
 	user-select:none;
 	text-align:center;
 	white-space:nowrap;
 	vertical-align:top;
 	text-decoration:none;
 	vertical-align:middle;
 	/*height:3rem;*/
 	padding:10px 25px;
 	text-transform:uppercase;
 	/*font-size:16px;*/	
 	font-size:12px;
 	line-height:2.625rem;
 	-webkit-font-smoothing:antialiased;
 	border-radius:0.25rem;
 	letter-spacing:0.09375rem;
 	transition:all 0.3s ease;
 	font-weight: bold;
 }




 .button--primary,
 .button--secondary,
 .button--outline,
 .button--white {
 	box-shadow:8px 10px 20px 0px rgba(46,61,73,0.15);
 	text-decoration: none;
 }

 .button--primary:hover,
 .button--secondary:hover,
 .button--outline:hover,
 .button--white:hover { 	
 	text-decoration: none;
 }

 .button--jumbotron:hover{
 	box-shadow:2px 4px 8px 0px rgba(52, 152, 219,1.0); 	 	
 }

 .button--primary {
 	width:13.75rem;
 	color:#fff;
 	background-color:#2979FF; 	
 	border:0.125rem solid transparent;
 }

 .button--primary:focus,
 .button--primary.focus,
 .button--primary:hover {
 	outline:none;
 	color:white;
 	border-color:transparent;
 	background-color:#2962FF;
 }

 .button--outline {
 	width:13.75rem;
 	color:#fff;
 	/*background-color:transparent;*/
 	border:0.125rem solid #fff;
 }
 .button--outline:focus,
 .button--outline.focus,
 .button--outline:hover {
 	outline:none;
 	color:white;
 	border-color:#fff;
 	background-color:transparent;
 }

 .button--outline.disabled,
 .button--outline[disabled],
 fieldset[disabled] .button--outline {
 	box-shadow:none;
 	cursor:not-allowed;
 	border-color:#dbe2e8;
 	background-color:#dbe2e8;
 }

 .button--outline.inline {
 	display:inline-block;
 }









 .button--primary,
 .button--secondary,
 .button--outline,
 .button--white {
 	box-shadow:8px 10px 20px 0px rgba(46,61,73,0.15);
 	text-decoration: none;
 }

 .button--primary:hover,
 .button--secondary:hover,
 .button--outline:hover,
 .button--white:hover { 	
 	text-decoration: none;
 }

 .button--jumbotron:hover{
 	box-shadow:2px 4px 8px 0px rgba(52, 152, 219,1.0); 	 	
 }

 .button--primary {
 	width:13.75rem;
 	color:#fff;
 	background-color:#2979FF; 	
 	border:0.125rem solid transparent;
 }

 .button--primary:focus,
 .button--primary.focus,
 .button--primary:hover {
 	outline:none;
 	color:white;
 	border-color:transparent;
 	background-color:#2962FF;
 }

 .button--outline {
 	width:13.75rem;
 	color:#fff;
 	/*background-color:transparent;*/
 	border:0.125rem solid #fff;
 }
 .button--outline:focus,
 .button--outline.focus,
 .button--outline:hover {
 	outline:none;
 	color:white;
 	border-color:#fff;
 	background-color:transparent;
 }

 .button--outline.disabled,
 .button--outline[disabled],
 fieldset[disabled] .button--outline {
 	box-shadow:none;
 	cursor:not-allowed;
 	border-color:#dbe2e8;
 	background-color:#dbe2e8;
 }

 .button--outline.inline {
 	display:inline-block;
 }















 .button--primary,
 .button--secondary,
 .button--outline,
 .button--white {
 	box-shadow:8px 10px 20px 0px rgba(46,61,73,0.15);
 	text-decoration: none;
 }

 .button--primary:hover,
 .button--secondary:hover,
 .button--outline:hover,
 .button--white:hover { 	
 	text-decoration: none;
 }

 .button--jumbotron:hover{
 	box-shadow:2px 4px 8px 0px rgba(52, 152, 219,1.0); 	 	
 }

 .button--primary {
 	width:13.75rem;
 	color:#fff;
 	background-color:#2979FF; 	
 	border:0.125rem solid transparent;
 }

 .button--primary:focus,
 .button--primary.focus,
 .button--primary:hover {
 	outline:none;
 	color:white;
 	border-color:transparent;
 	background-color:#2962FF;
 }

 .button--outline {
 	width:13.75rem;
 	color:#fff;
 	/*background-color:transparent;*/
 	border:0.125rem solid #fff;
 }
 .button--outline:focus,
 .button--outline.focus,
 .button--outline:hover {
 	outline:none;
 	color:white;
 	border-color:#fff;
 	background-color:transparent;
 }

 .button--outline.disabled,
 .button--outline[disabled],
 fieldset[disabled] .button--outline {
 	box-shadow:none;
 	cursor:not-allowed;
 	border-color:#dbe2e8;
 	background-color:#dbe2e8;
 }

 .button--outline.inline {
 	display:inline-block;
 }






.modal-produk .modal-content{
	border-radius: 0;
	box-shadow: none;
}

.modal-produk .modal-dialog{
	margin: 100px auto;	
}

.modal-produk .modal-content .modal-title{
	font-size: 14pt;
	text-transform: uppercase;
	font-weight: bold;
}

.modal-produk .modal-content .modal-body h1{
	font-size: 20pt;
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 50px;
}

.modal-produk .modal-content .modal-body{
	padding-left: 30px;
}

 .button--bening{
 	background-color: white;
 	padding: 5px 18px;
 	text-decoration: none;
 	border-radius: 3px; 	
 	color: #444;
 	border: 2px solid #666;
 }




















 .jumbotron .button--primary{
 	margin-left: 13px;
 }
 /*end button*/










 .media-author-jumbotron{

 }

 .media-author-jumbotron img{
 	border-radius: 50%;
 }

 .media-author-jumbotron .media-body{
 	padding-left: 20px;
 }

 .media-author-jumbotron .media-author-jumbotron-nama{
 	color: #fff;
 	font-size: 16pt;
 }

 .media-author-jumbotron .media-author-jumbotron-deskripsi{
 	color: #fff;
 }

 .media-author-jumbotron .media-author-jumbotron-social{
 	margin-top: 20px;
 }

 .media-author-jumbotron .media-author-jumbotron-social a{
 	color: #fff;
 	padding-top: 10px;
 	padding-right: 10px; 	
 }
 .media-author-jumbotron .media-author-jumbotron-social a:hover{
 	color: #fff;
 	text-decoration: none;
 }

 .author-verified{
 	width:20px;
 	height:auto;
 	margin-left: 5px;
 }



 .judul-archive h4{
 	margin: 0px 0px 20px 0px;
 }





 section{
 	padding: 70px 0px 70px 0px;
 }

 .bg-white{
 	background: #ffffff;
 }

 .bg-grey{
 	background: #fafafa;
 	border-top: 1px solid #ebebeb;
 	border-bottom: 1px solid #ebebeb;
 }


 .section-info{ 
 	padding: 80px 0;
 }

 .section-info h2{	
 	font-weight: 300;	 
 }

 .section-info p{	
 	font-size: 13px;
 	white-space: 10px;
 	font-weight: 400;	
 	margin-top: 30px;
 	margin-bottom: 50px;
 }

 .section-info img{
 	width: 100%;
 	height: auto;
 }

 .section-info-kiri{

 }

 .section-info-kanan{	

 }

 .page-content .row{
 	display: flex;
 	flex-wrap: wrap;

 }











 /*post index*/
 .ukuran-card{
 	padding-left: 8px;
 	padding-right: 8px;

 	display: -webkit-box;
 	display: -webkit-flex;
 	display: -ms-flexbox;
 	display:         flex;
 }

 .post{
 	background-color: #fff;
 	border: 1px solid #e7e5e5;
 	margin-bottom: 20px;
 	position: relative;
 	display: flex;
 	flex-direction: column;
 }

 .post .thumb img{
 	width: 100%;
 	height: auto;
 }

 .post .post-title{
 	margin: 0;
 	font-size: 19px;
 	line-height: 24px;
 	font-weight: normal;
 }

 .post .post-title a{	
 	color: #333;
 }

 .post .caption{
 	padding: 15px 18px 80px 18px;

 }

 .post .caption .post-excerpt{
 	font-size: 1pt;
 	color: #fff;
 }

 .post-footer{
 	position: absolute;
 	bottom: 0;	
 	width: 100%;
 	font-size: 10pt;
 	padding: 12px 15px;
 }

 .post-footer img{
 	border-radius: 50%;
 }
 .post-footer .list-inline{
 	padding: 0;
 	margin: 0;
 }

 .post-footer .list-inline li{
 	padding-right: 0px;	
 }

 .post-category{
 	font-size: 9pt;
 	font-weight: bold;
 }

 .post-footer .post-author a{
 	font-size: 9pt;
 	font-weight: bold;
 	color: #333;
 }

 .post a{
 	text-decoration: none;
 }

 .post a:hover{
 	text-decoration: none;
 }
 /*end post index*/


 /*post single*/
 .post-single{
 	background-color: #fff;
 	border: 1px solid #e7e5e5;
 	margin-bottom: 20px;	 	

 	/*box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);*/
 	/*transition: box-shadow 0.3s; */


 }

 .post-single .post-title{
 	margin: 20px 0;
 	font-size: 29px;
 	line-height: 24px;
 	font-weight: normal;
 }

 .post-single .thumb img{
 	width: 100%;
 	height: auto;
 }

 .post-single .caption{
 	padding: 20px 30px 80px 30px;

 }

 .post-single .share-entry{
 	margin-top: 80px;
 }

 .post-single .share-entry .share-title{
 	font-weight: bold;
 }

 .post-single .post-tag,
 .post-single .post-tag a{
 	margin-top: 10px;	
 	font-size: 9px;
 	color: #d3dbe8 !important;
 	text-decoration: none !important;
 }



 article.post-single .caption .wp-caption,
 article.post-single .caption img.size-full{
 	max-width: 100%;
 	height: auto;	
 }

 article.post-single .caption .wp-caption img {
 	max-width: 100%;
 	height: auto;
 }

 article.post-single .caption .wp-caption .wp-caption-text{	
 	margin: 0;
 	font-size: 10pt;
 	text-align: center;
 }

 article.post-single .caption .alignright{	
 	float: right;
 	margin-left: 20px;
 	margin-bottom: 15px;
 	margin-top: 5px;
 }

 article.post-single .caption .alignleft{	
 	float: left;
 	margin-right: 20px;
 	margin-bottom: 15px;
 	margin-top: 5px;
 }

 article.post-single .caption .aligncenter{	
 	margin: 0 auto;	
 }

 article.post-single .caption .wp-caption,
 article.post-single .caption img.size-full{
 	max-width: 100%;
 	height: auto;
 }

 article.post-single .caption .wp-caption img {
 	max-width: 100%;
 	height: auto;
 	margin-top: 30px;
 	margin-bottom: 5px;
 }

 article.post-single .caption .wp-caption .wp-caption-text{	
 	margin: 0;
 	font-size: 10pt;
 	text-align: center;
 	font-style: italic;
 	margin-bottom: 10px;
 	color:#72767c;
 }

 article.post-single .caption .wp-caption{
 	margin-bottom: 30px;	
 }

 article.post-single .caption .post-single-content{		
 	/*float: none;	*/
 	/*overflow: hidden;		*/
 	background: white;
 	-webkit-user-select: none;
 	-khtml-user-select: none;
 	-moz-user-select: none;
 	-o-user-select: none;
 	user-select: none;
 	/*font-size: 20pt !important;*/
 	text-align: justify;
 	color: #444;
 }

 article.post-single .caption p{
 	font-size: 11pt;
 }
 article.post-single .caption h1,		
 article.post-single .caption h2,		
 article.post-single .caption h3,		
 article.post-single .caption h4,		
 article.post-single .caption h5,		
 article.post-single .caption h6{	
 	margin-top: 30px;
 }

 article.post-single .caption .crayon-code{
 	overflow: hidden;		
 	-webkit-user-select: text !important;
 	-khtml-user-select: text !important;
 	-moz-user-select: text !important;
 	-o-user-select: text !important;
 	user-select: text !important;		
 }

 article.post-single .caption .bukti-pengiriman{		
 	-webkit-user-select: text !important;
 	-khtml-user-select: text !important;
 	-moz-user-select: text !important;
 	-o-user-select: text !important;
 	user-select: text !important;
 }

 article.post-single .caption table{
 	border-collapse: collapse;
 	margin: 20px 0px;
 	width: 100%;
 }

 article.post-single .caption .crayon-syntax{	
 	margin: 30px 0 !important;
 }


 article.post-single .caption table, th, td {
 	border: 1px solid black;
 	padding: 5px 10px;
 }

 article.post-single .caption a{
 	color: #03A9F4;
 	transition:all 0.3s ease;
 }

 article.post-single .caption a:hover{
 	text-decoration: underline;	
 	color: #3470d1;
 }


 /*post single author*/
 .post-single .dah-author{
 	/*background-color: blue;*/
 }

 .post-single .dah-author a{
 	text-decoration: none;
 }

 .post-single .dah-author a:hover{
 	text-decoration: none !important;
 }

 .post-single .dah-author img{
 	border-radius: 50%;
 }

 .post-single .dah-author .dah-author-nama{
 	color: #333;
 	font-weight: 600;
 	font-size: 13pt;
 }

 .post-single .dah-author .dah-author-tentang{
 	color: #666;
 	font-weight: 300;
 	font-size: 10pt;
 	margin: 10px 0;
 }

 .post-single .dah-author .list-inline a{
 	font-weight: 600;
 	font-size: 10pt;
 }

 .post-single .dah-author .media-body{
 	padding: 0 20px;
 }
 /*end post single author*/

 .post-single .postmeta{
 	font-size: 9pt;
 }

 /*end post single*/


 .post-page{
 	padding-top: 30px;
 }








 /*sidebar*/
 .dah-sidebar{	

 }

 .dah-sidebar .sidebar-content h4{	
 	padding-bottom: 20px;
 	text-transform: uppercase;
 	font-size: 19px;
 	font-weight: 500;
 }

 .dah-sidebar .sidebar-content a{
 	color : #333;
 	text-decoration: none;
 }

 .dah-sidebar .sidebar-content{		
 	margin-bottom: 50px;	
 }


 .my-special-class{	
 	margin: 0;
 }

 .dah-sidebar .sidebar-content ul{	
 	padding: 0;		
 }

 .dah-sidebar .sidebar-content ul li{	
 	list-style-type: none;
 	margin-bottom: 7px;	
 	padding: 5px 0px;
 	border-bottom: 1px solid #eee;
 }

 .dah-sidebar .sidebar-content ul li a{	
 	font-weight: 500;
 }

 .dah-sidebar .sidebar-content ul li span.post-date{	
 	width: 100%;
 	display: inline-block;
 	margin: 5px 0px;
 	font-size: 12px;	
 }
 /*search widget*/

 div.sidebar-content #searchform label{
 	position: absolute;
 	left: -9999px;
 }

 div.sidebar-content #searchsubmit{
 	background: #006ec3;
 	color: #fff;
 	display: none;
 }

 div.sidebar-content #searchform input[type='text']{
 	height: 40px;
 	width: 90%;
 	font-size: 14pt;
 	padding: 0 10px;
 	border: 2px solid #DFDFDF;
 	outline: none;
 	background: white;
 	color: #666;
 }
 /*end search widget*/

 /*sidebar iklan*/


 .dah-sidebar .sidebar-content .iklan-sidebar{	
 	display: flex;
 	flex-wrap: wrap;	
 	justify-content: space-between;
 }

 .dah-sidebar .sidebar-content .iklan-sidebar a.iklan-kecil{
 	padding: 0;
 	margin: 0;
 	width: 49%;
 	height: auto;
 	margin-bottom: 5px;
 }

 .dah-sidebar .sidebar-content .iklan-sidebar a.iklan-besar{
 	padding: 0;
 	margin: 0;
 	width: 100%;
 	height: auto;
 	margin-bottom: 1px;
 }

 .dah-sidebar .sidebar-content .iklan-sidebar img{
 	width: 100%;
 	height: auto;
 }
 /*end sidebar iklan*/

 .dah-sidebar .product_list_widget{

 }

 .dah-sidebar .product_list_widget li{		
 	position: relative;
 	padding: 0;
 	border: none !important
 }

 .dah-sidebar .product_list_widget .product-title{
 	position: absolute;
 	line-height: 19px;
 	font-weight: normal;
 	padding-left: 8px;
 	font-size: 13px;
 }

 .dah-sidebar .product_list_widget .amount{
 	background-color: #03A9F4;
 	position: absolute;
 	bottom: 5px;
 	right: 5px;
 	color: #fff;
 	padding: 3px 5px;
 	font-size: 12px;
 }
 .dah-sidebar .product_list_widget img{	
 	height: auto;
 	width: 80px;
 }

 .dah-sidebar .sidebar-content .custom-large-thumbnail li{	
 	border-bottom: 1px solid #eee;
 	padding-bottom: 10px;
 	text-align: center;
 }

 .dah-sidebar .sidebar-content .custom-large-thumbnail li a{	
 }

 .dah-sidebar .sidebar-content .custom-large-thumbnail .has-thumbnail .custom_thumbnail{
 	width: 100%;
 	height: 12em;	
 	overflow: hidden;		
 	margin-bottom: 8px;
 }

 .dah-sidebar .sidebar-content .custom-large-thumbnail .custom_thumbnail img{	
 	width: 100%;
 	height: auto !important;
 }
 /*end custom large thumbnail*/

 /*custom small thumbnail*/
 .dah-sidebar .sidebar-content .custom-small-thumbnail li{
 	border-bottom: 1px solid #eee;	
 	min-height: 80px;
 }

 .dah-sidebar .sidebar-content .custom-small-thumbnail li.no-thumbnail{
 	min-height: 52px;
 }

 .dah-sidebar .sidebar-content .custom-small-thumbnail .has-thumbnail .custom_thumbnail{
 	width: 36%;
 	height: 5em;		
 	overflow: hidden;		
 	float: left;	
 	margin-right: 10px;	
 }

 .dah-sidebar .sidebar-content .custom-small-thumbnail a{			
 	font-size: 14px;	
 }

 .dah-sidebar .sidebar-content .custom-small-thumbnail .custom_thumbnail img{	
 	width: auto;
 	height: 100%;
 	margin: 0 auto;
 }
 /*end custom small thumbnail*/

 img.marketplace{
 	width: 100%;
 	height: auto;
 }

 img.marketplace:first-child{
 	margin-bottom: 10px;
 }

 /*end sidebar*/










 /*breadcrumb*/
 .breadcrumbs{
 	padding: 15px 0;
 }

 .breadcrumbs p#breadcrumbs{
 	margin: 0 !important;
 }
 /*end breadbrumb*/







 /*comment*/
 .panel-comment{
 	border: 1px solid #ebebeb;
 	border-radius: 0;
 	margin-bottom: 50px;
 }
 .panel-comment .panel-heading{	
 	padding: 30px 35px;	
 	overflow: hidden;	
 }

 .panel-comment .media-heading{	
 	overflow: hidden;	
 }

 .panel-comment .comment-author{
 	float: left;
 	font-weight: bold;
 }

 .panel-comment .comment-time{
 	float: right;
 	color: #d3dbe8;
 }

 .panel-comment .panel-title{
 	float: left;
 }

 .panel-comment .meta-comments{
 	float: right;
 }

 .comment-list{
 	padding: 15px;
 }

 .comment-list ul li{
 	list-style-type: none;
 }
 .comment-form input{
 	display: inline-block !important;
 	width: 100%;
 	padding: 5px 10px;
 	border: 1px solid #ccc;
 	border-radius: 3px;
 }

 .comment-form textarea{
 	display: inline-block;
 	width: 100%;
 	resize: none;
 	height: 130px;
 	padding: 5px 10px;
 	border: 1px solid #ccc;
 	border-radius: 3px;
 }

 .panel-comment .panel-body{	
 	font-size: 13px;
 	padding: 35px;
 }

 .panel-comment .comment .avatar{
 	border-radius: 50%;
 }

 .panel-comment .submit { 	
 	color:#fff;
 	background-color:#2979FF; 	
 	border:0.125rem solid transparent;
 }

 .panel-comment .submit:focus,
 .panel-comment .submit:hover {
 	outline:none;
 	color:white;
 	border-color:transparent;
 	background-color:#2962FF;
 }


 /*end comment*/







 /*breadcrumbs*/
 #breadcrumbs{
 	font-size: 9pt;
 }
 #breadcrumbs a,
 #breadcrumbs .breadcrumb_last{
 	padding-right: 8px;
 	padding-left: 8px;
 }
 /*end breadcrumb*/


 .single-jumbotron-category a{
 	color: #fff;
 	font-weight: 500;
 	font-size: 14pt;
 }

 .no-margin{
 	margin: 0;
 }






 /*pagination*/
 .post-pagination{		
 	margin-top: 65px;
 	margin-bottom: 65px;
 }

 .post-pagination .current,
 .post-pagination a,
 .post-pagination .dots{
 	font-size: 12px;
 	font-weight: bold;
 	padding: 10px 14px;
 	text-decoration: none;

 	background-color: #ffffff;	
 	border: 1px solid #ebebeb;
 	transition: all 0.3s; 
 	color: #333;
 }

 .post-pagination a:hover{
 	background-color: #2979FF;
 	color: #fff;

 }

 .post-pagination .current{
 	width:13.75rem;
 	color:#fff;
 	background-color:#2979FF;
 	/*background-color:#02b3e4;*/
 	border:0.125rem solid transparent;

 }

 .post-pagination .current:hover{
 	outline:none;
 	color:white;
 	border-color:transparent;
 	background-color:#2962FF;
 }
 /*end pagination*/











 /*footer*/
 .footer{
 	border-top: 1px solid #ebebeb;
 	/*padding: 20px 0px;*/
 	/*background: #fff !important;*/
 	/*overflow: hidden;*/
 	/*border-top: 1px solid #ebebeb; 	*/
 	color: #333;
 	font-size: 12.5px;
 	padding-top: 60px;
 	padding-bottom: 50px;
 }

 .footer a{
 	color: #777;
 }

 .footer ul li{
 	padding: 0 10px;
 }

 .footer .footer-top{ 	
 	padding-bottom: 5px;
 }

 .footer .footer-bottom{ 	
 	padding-top: 15px;
 }

 .footer .social-list li{
 	
 }

 .footer .social-list li a{
 	font-size: 15px;
 }

 .footer .footer-by{
 	margin-left: 5px;
 }





 /*search*/
 .btn-search{
 	padding: 10px; 	
 	cursor: pointer; 	
 	font-weight: bold;
 }




 .malasngoding-search{ 
 	display: none;	 	
 	position: fixed;  	 	 
 	width: 100%;
 }

 .malasngoding-search-bg{  	
 	position: fixed;  	 	
 	z-index: 99999; 	
 	top: 0;
 	left: 0;
 	right: 0;
 	bottom: 0;
 	width: 100%;
 	background-color: rgba(0,0,0,0.75);
 }

 .malasngoding-search-box{
 	z-index: 999999;
 	position: fixed;
 	top: 0;
 	left: 20%;
 	right: 20%;
 	margin-top: 15%; 	
	background-color: transparent;
}
.malasngoding-search label{
	color: #fff;
	font-size: 25pt;
	font-weight: 300;
}
.search-input{
	padding: 20px;
	width: 100%;
	font-size: 25pt;
	background-color: transparent;
	border-top: none;
	border-right: none;
	border-left: none;
	border-bottom: 1px solid #ebebeb;
	color: #fff;
}
.search-submit{
	display: none;
}

.display-block{
	display: block !important;
}












.tombol-gratis-ongkir,
.tombol-merah,
.tombol-hijau{
	padding: 7px 10px;
	font-size: 14pt;
	text-transform: uppercase;
	color: #fff !important;
	display: block;
	width: 250px;	
	text-align: center !important;
	text-decoration: none !important;
	margin-bottom: 10px !important;
	font-weight: normal !important;
border:none !important;
}

.tombol-merah:hover{
	color: #fff;
	text-decoration: none;
}
.tombol-hijau:hover{
	color: #fff;
	text-decoration: none;
}

.tombol-merah{
	background: #B8312F;
}

.tombol-hijau{
	background: #41A85F;
}

.tombol-gratis-ongkir{
	background: #3498db;
}

.tombol-gratis-ongkir:hover{
	background: #2980b9 !important;
	color: #fff;
	text-decoration: none;
}





/*woocommerce*/
.button.product_type_simple.add_to_cart_button.ajax_add_to_cart{
	display: none;
}

form.cart{
	display: none !important;
}

div[itemprop="description"]{
	font-size: 1pt;
	color: transparent;
}


.product_meta{
	margin-top: 50px;
}


.summary .price .amount{
	font-size: 35pt !important;	
}

.woocommerce ul.products li.product h3{
	font-size: 11.5pt;
	font-weight: 400;
	color: #333;
}

ul.products li.product .price .amount{
	font-size: 11pt;
	text-align: right !important;	
	background-color: #2979FF;
	color: #fff;
	padding: 3px 8px;
	display: inline-block;
}


.woocommerce-pagination{	
 	margin-bottom: 65px;
 	border: none;
}


.woocommerce nav.woocommerce-pagination ul li span.current{
	background-color: #2979FF;
	color:#fff;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 14px;
	text-decoration: none;	
	border: 1px solid #ebebeb;
	transition: all 0.3s; 
	margin: 2px;

}

.woocommerce nav.woocommerce-pagination ul{
	border: none;
}

.woocommerce nav.woocommerce-pagination ul li a{
	font-size: 12px;
	font-weight: bold;
	padding: 12px 14px;
	text-decoration: none;
	background-color: #ffffff;		
	border: 1px solid #ebebeb;
	transition: all 0.3s; 
	color: #333;
	margin: 2px;
}

.woocommerce nav.woocommerce-pagination ul li a:hover{
	background-color: #2979FF !important;
	color: #fff !important;
}

.woocommerce nav.woocommerce-pagination ul li{
	border: none;
}
















.shop-sidebar{
	background-color: #fff;
	border: 1px solid #ebebeb;
	padding: 40px 20px;
}

.shop-sidebar .widget-shop-item{
	margin-bottom: 50px;
}

.shop-sidebar .my-special-class{
	text-transform: uppercase;
	margin-bottom: 20px;
}

.product_list_widget li{
	margin-bottom: 20px;
}

.product_list_widget li a{
	font-size: 10.5pt;
}

.product_list_widget li a:hover{
	text-decoration: none;
}

.woocommerce-product-search label{
	display: none;
}

.woocommerce-product-search .search-field{
	width: 100%;
	padding: 5px 10px;
}

.woocommerce-product-search input[type="submit"]{
	display: none;
}

.widget-shop-item .product-categories{
	padding: 0;
}

.widget-shop-item .product-categories li{
	list-style-type: none;	
}

.woocommerce ul.product_list_widget li{
	margin-bottom: 10px;
}

.widget-shop-item .product-categories li a{
	padding: 3px 0px;
	background-color: #fff;
	display: block;
	text-transform: uppercase;
	color: #333;
}

.widget-shop-item .product-categories li a:hover{
	text-decoration: none;
}

.widget-shop-item .product_list_widget .amount{
	background-color: #2962FF;
	color: #fff;
	padding: 3px 7px;
	display: inline-block;
	font-size: 10pt;
}


.woocommerce div.product .woocommerce-tabs .panel{
	padding: 20px 30px;
}

.woocommerce div.product .woocommerce-tabs .panel img{
	max-width:100% !important;
	height:auto !important;
}

.product_meta{		
 	font-size: 9px;
 	color: #d3dbe8 !important;
 	text-decoration: none !important;
}

.product_meta a{		
	 color: #d3dbe8 !important;
}

.related.products h2{
	margin: 40px 0;
}

.posted_in a{
	color: #fff;
}


.woocommerce ul.cart_list li a, .woocommerce ul.product_list_widget li a{
	color: #333;
	font-weight: 400;
    font-size: 10pt
}





.dah-sidebar img{
	max-width: 100%;
}


@media screen  and (max-width: 1200px){
	
}

@media screen and (max-width: 992px) {
	
}

@media screen and (max-width: 768px) {
	.xs-center{
		text-align: center !important;
	}

	.xs-center .text-right{
		text-align: center !important;
	}
}


.card-page article{
	width: 100%;
}




/*tutorial page*/
.ch-grid {
	margin: 20px 0 30px 0;
	padding: 0;
	list-style: none;
	display: block;
	text-align: center;
	width: 100%;
}

.ch-grid:after,
.ch-item:before {
	content: '';
	display: table;
}

.ch-grid:after {
	clear: both;
}

.ch-grid li {
	width: 205px;
	height: 205px;
	display: inline-block;
	margin: 20px;
}

.ch-item {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	overflow: hidden;
	position: relative;
	cursor: default;
	box-shadow: 
	inset 0 0 0 16px rgba(255,255,255,0.6),
	0 1px 2px rgba(0,0,0,0.1);
	transition: all 0.4s ease-in-out;
	background-repeat: no-repeat;
	background-size:360px;
	background-position: center;
}

.ch-img-html { 
	background-image: url(https://www.malasngoding.com/wp-content/uploads/2016/02/tutorial-html-bahasa-indonesia.png);
}
.ch-img-jqueryui { 
	background-image: url(https://www.malasngoding.com/wp-content/uploads/2016/02/tutorial-jquery-ui-bahasa-indonesia.png);
}

.ch-img-css { 
	background-image: url(https://www.malasngoding.com/wp-content/uploads/2016/02/tutorial-css-bahasa-indonesia.png);
}

.ch-img-javascript { 
	background-image: url(https://www.malasngoding.com/wp-content/uploads/2016/02/tutorial-javascript.png);
}

.ch-img-php { 
	background-image: url(https://www.malasngoding.com/wp-content/uploads/2016/02/tutorial-php-bahasa-indonesia.png);
}

.ch-img-jquery { 
	background-image: url(https://www.malasngoding.com/wp-content/uploads/2016/02/tutorial-jquery-bahasa-indonesia.png);
}

.ch-img-bootstrap { 
	background-image: url(https://www.malasngoding.com/wp-content/uploads/2016/02/tutorial-bootstrap-bahasa-indonesia.png);
}
.ch-img-codeigniter { 
	background-image: url(https://www.malasngoding.com/wp-content/uploads/2016/02/tutorial-codeigniter-bahasa-indonesia.png);
}
.ch-img-angularjs { 
	background-image: url(https://www.malasngoding.com/wp-content/uploads/2016/02/tutorial-angular-bahasa-indonesia.png);
}

.ch-img-java { 
	background-image: url(https://www.malasngoding.com/wp-content/uploads/2016/02/tutorial-java-bahasa-indonesia.png);
}

.ch-img-ionic { 
	background-image: url(https://www.malasngoding.com/wp-content/uploads/2016/02/tutorial-ionic-bahasa-indonesia.png);
}

.ch-img-wordpress { 
	background-image: url(https://www.malasngoding.com/wp-content/uploads/2016/02/tutorial-wordpress-bahasa-indonesia.png);
}

.ch-img-mysql{ 
	background-image: url(https://www.malasngoding.com/wp-content/uploads/2017/04/tutorial-mysql-untuk-pemula-pdf-bahasa-indonesia.png);
}

.ch-img-sublime{ 
	background-image: url(https://www.malasngoding.com/wp-content/uploads/2017/04/tutorial-sublime-text-editor-bahasa-indonesia.png);
}

.ch-img-android-studio{ 
	background-image: url(https://www.malasngoding.com/wp-content/uploads/2017/09/tutorial-android-studio-bahasa-indonesia.png);
}

.ch-img-foundation{ 
	background-image: url(https://www.malasngoding.com/wp-content/uploads/2017/09/foundation.png);
}

.ch-info {
	position: absolute;
	background: rgba(63,147,147, 0.8);
	width: inherit;
	height: inherit;
	border-radius: 50%;
	overflow: hidden;
	opacity: 0;
	transition: all 0.4s ease-in-out;
	transform: scale(0);
}

.ch-info h3 {
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 22px;
	margin: 0 30px;
	padding: 60px 0 0 0;
	height: 90px;
	font-family: 'Open Sans', Arial, sans-serif;
	text-shadow: 
	0 0 1px #fff, 
	0 1px 2px rgba(0,0,0,0.3);
}

.ch-item:hover {
	box-shadow: 
	inset 0 0 0 1px rgba(255,255,255,0.1),
	0 1px 2px rgba(0,0,0,0.1);
}

.ch-item:hover .ch-info {
	transform: scale(1);
	opacity: 1;
}

.ch-item:hover .ch-info p {
	opacity: 1;
}

.ch-info p {
	color: #fff;	
	padding: 10px 5px;
	font-style: italic;
	margin: 40px 30px;
	font-size: 12px;
	border-top: 1px solid rgba(255,255,255,0.5);
	opacity: 0;
	transition: all 1s ease-in-out 0.4s;
	line-height: 10px;	
}
.ch-info p a {
	display: block;
	color: rgba(255,255,255,0.7);
	font-style: normal;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration:none;
	font-size: 12px;
	letter-spacing: 1px;
	padding-top: 4px;	
	text-align: center;
	color: #fff !important;
}

.ch-info p a:hover {
	color: rgba(255,242,34, 0.8);
}

/*end tutorial page*/


/*modal produk*/
.modal-produk .modal-body{
	overflow: hidden;
}

.modal-produk img{
	width: 100% !important;
}
/*end modal produk*/



 


 .btn-download {
 	padding:15px 25px !important;
 	color:#fff !important;
 	background-color:#2979FF !important; 	
 	border:0.125rem solid transparent !important;
 	box-shadow:8px 10px 20px 0px rgba(46,61,73,0.15) !important;
 	text-decoration: none !important;
 	display:inline-block !important;
 	width:100% !important;
 	text-align:center !important;
 
 }

 .btn-download:focus,
 .btn-download:hover {
 	outline:none !important;
 	color:white !important;
 	border-color:transparent !important;
 	background-color:#2962FF !important;
 	text-decoration: none !important;
 	  display:inline-block !important;
 }
 

.box-share-social{
    display:inline-block;
    background:#ff9966;
    padding:40px;
    text-align:center;
    width:100%;
    
}
.box-share-social p{
  color:#fff;
  font-size:18pt !important;
}


